<%= form_for @user, :html => { :class => "fanForm email-form"} do |f| %>
	<h2>User Type 1?</h2>
	<p>Are you User Type 1? Here's some text telling you whether you should enter your email address below!</p>
	<%= render 'launchpage/shared/error_messages', object: f.object %>
	<%= f.text_field :email, :placeholder => "Enter your email" %>
	<%= f.hidden_field :usertype, :value => "1" %>
	<%= f.submit "Submit", class: "btn" %>
<% end %>
