<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "launchpage/application", :media => "all" %>
	  <%= javascript_include_tag "launchpage/application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/launchpage/shim' %>
	</head>
	<body>
		<div id="wrapper" class="clearFix">
			<%= render 'layouts/launchpage/header' %>
			<%= yield %>
		</div>

		<%= render 'layouts/launchpage/footer' %>

	</body>
</html>
